<h3>Welcome to Cow Hub</h3>
<h2> The live data repository for CARE: Strengthening the Dairy Value Chain</h2>

<table>

  <tr>
    <th><%= link_to image_tag('farmerpic.png', alt: "Farmers") , url_for({:controller => 'farmers', :action => 'index'}), :class => 'quick', :remote => true %>
</th>
    <th><%= link_to image_tag('grouppic.png', alt: "Groups"), url_for({:controller => 'groups', :action => 'index'}), :class => 'quick', :remote => true %></th>
    <th><%= link_to image_tag('gpfpic.png', alt: "Data") , url_for({:controller => 'gpfs', :action => 'index'}), :class => 'quick', :remote => true %></th>
    </tr>
    <tr>
    <th>Farmers</th>
    <th>Groups</th>
    <th>Data</th>
  </tr>


</table>

<br />


